@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(209 213 219 / 1);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f87171;
    border-radius: 100vh;
    border: 1px solid #86efac;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #86efac;
  }
  [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
  }
}
